<section class="content-header">
  <h1>
    Add Site
    <small>Add Site here</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/dashboard/Site"><i class="fa fa-location-arrow"></i> Site</a></li>
    <li><a href="/dashboard/Site/Add">Add Site</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
<div class="box">
  <!-- Default box -->
  <div class="box col-lg-2">
    <div class="box-header with-border">
      <h3 class="box-title">Add Site</h3>

      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse" title="Collapse"
                type="button">
          <i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="remove" title="Remove" type="button">
          <i class="fa fa-times"></i></button>
      </div>

    </div>
    <div class="box-body">
      <form [formGroup]="AddSiteForm" (ngSubmit)="onSubmit()">

          <h1>Add Site</h1>
          <p>Please fill in this form to Add New Site.</p>
          <hr>
          <label><b>Site Name:</b></label>
          <input type="text" class="form-control" formControlName="SiteName" name="SiteName"  placeholder="Site Name" />
          <div *ngIf="submitted && f.SiteName.errors" class="invalid-feedback">
            <div *ngIf="f.SiteName.errors.required"><label style="color:red;">Sensor Name</label></div>
          </div>

          <label><b>Location :</b></label>
          <br>
          <!--<input id="typeahead-format" type="text" class="form-control" formControlName="Location" name="Location" [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatter" />-->
          <div style="height: 500px; width: 800px">
            <div class="map" id="map" class="match-parent"></div>
          </div>
          <!--<div *ngIf="submitted && f.Location.errors" class="invalid-feedback">
            <div *ngIf="f.Location.errors.required"><label style="color:red;">Location is required</label></div>
          </div>-->
          <br>
          <label><b>Description:</b></label>
          <input class="form-control" type="text" placeholder="Description" formControlName="Description" name="Description">
          <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
            <div *ngIf="f.Description.errors"><label style="color:red;">Description too Long</label></div>
          </div>
          <hr>

          <button type="submit" class="btn btn-primary btn-block btn-flat " style="width: 100px !important;">Add Site</button>

      </form>
    </div>
  </div>
  <!-- /.box -->
</div>
</section>
<!-- /.content -->
