<section class="content-header">
  <h1>
    {{CurrentLocation.SiteName}}
    <small>you can Configure you Relay</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
  </ol>
</section>

<section class="content">

  <!-- Default box -->
  <div class="box">

    <div class="box-header with-border">
      <h3 class="box-title">Weither in the next 5 days</h3>

      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse" title="Collapse"
                type="button">
          <i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="remove" title="Remove" type="button">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div *ngIf="weitherData1; else elseBlock">
        <ul class="weither">
          <div *ngFor="let item of weitherData1">
            <li class="classli weather"  >

              {{item.time}}<br>
              <table id="webwid" class="widget new27" style="font-family: Roboto; color: #868686; background-color: #FFFFFF; border: 1px solid #D6D6D6;">
                <tbody>
                <tr>
                  <td>

                    <span class="slink">Weather {{CurrentLocation.SiteName}}</span>
                    <table class="fondo" style="background-color: #FFFFFF; font-family: Roboto; color: #868686; border: 0px solid #D6D6D6;">
                      <tbody>
                      <tr class="hijo-1" style="background-color: #FFFFFF;">
                        <td class="bTempG" style="background-color: #FFFFFF;">
                          <span class="TgMax" style="color: #EB1924;text-align:right">{{item.data[0].temp_max}}°</span>&nbsp;&nbsp;
                          <span class="TgMin" style="color: #0076BA;text-align:right">{{item.data[0].temp_min}}°</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <img *ngIf="item.data[0].forcast === 'Rain' " src="https://www.dovora.com/resources/weather-icons/showcase/modern_showcase/rain.png" style="width:70px;height:70px;" alt="Overcast with light rain" class="pull-left">
                          <img *ngIf="item.data[0].forcast === 'Clouds' " src="https://www.dovora.com/resources/weather-icons/showcase/modern_showcase/overcast.png" style="width:70px;height:70px;" alt="Overcast with light rain" class="pull-left">
                          <img *ngIf="item.data[0].forcast === 'Clear' " src="https://www.dovora.com/resources/weather-icons/showcase/modern_showcase/day_clear.png" style="width:70px;height:70px;" alt="Overcast with light rain" class="pull-left">
                        </td>
                        <td class="iconG" style="background-color: #FFFFFF;">
                        </td>
                      </tr>
                      <table style="border: 1px solid #FFFFFF;">

                        <ng-container *ngFor="let item1 of item.data">

                          <tr style="background-color: #FFFFFF;">

                            <td>&nbsp;</td>
                            <td style="color: #868686; background-color: #FFFFFF; text-align:left ; padding: 5px">{{item1.time}}:00 </td>
                            <td style="background-color: #FFFFFF; text-align:left; padding: 5px">
                              <span class="TgMax" style="color: #EB1924; text-align:left">{{item1.temp_max | number : '1.0-2'}}°</span>
                            </td>
                            <td style="background-color: #FFFFFF; text-align:left; padding: 5px">
                              <span class="TgMin" style="color: #0076BA; text-align:left">{{item1.temp_min | number : '1.0-2'}}°</span>
                            </td>
                            <td class="simb" style="background-color: #FFFFFF; text-align:left ; padding: 5px">
                              <img *ngIf="item.data[0].forcast === 'Rain' " src="https://www.dovora.com/resources/weather-icons/showcase/modern_showcase/rain.png" style="width:40px;height:40px;" alt="Overcast with light rain" class="pull-left">
                              <img *ngIf="item.data[0].forcast === 'Clouds' " src="https://www.dovora.com/resources/weather-icons/showcase/modern_showcase/overcast.png" style="width:40px;height:40px;" alt="Overcast with light rain" class="pull-left">
                              <img *ngIf="item.data[0].forcast === 'Clear' " src="https://www.dovora.com/resources/weather-icons/showcase/modern_showcase/day_clear.png" style="width:40px;height:40px;" alt="Overcast with light rain" class="pull-left">
                            </td>
                          </tr>

                        </ng-container>
                      </table>
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
            </li>
          </div>
        </ul>

      </div>
    </div>
    <ng-template #elseBlock>Waiting for weither data <i class="fa fa-refresh fa-spin"></i></ng-template>

    <!-- /.box-body -->
    <div class="box-footer">
      Footer
    </div>
  </div>

  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Latest Orders {{message}}</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>

      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="table-responsive">
        <table class="table no-margin">
          <thead>
          <tr>
            <th>Mode</th>
            <th>Device Id</th>
            <th>Schedule Irrigation</th>
            <th>Min Value</th>
            <th>Maximum Value</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><select class="form-control">
              <option>Auto</option>
              <option>AI</option>
            </select></td>
            <td>123</td>
            <td>

              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="date" class="form-control pull-right" id="reservation">
              </div>
            </td>
            <td>
              <div class="rcorners1">
                <select class="form-control">
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                  <option>Option 4</option>
                  <option>Option 5</option>
                </select>
              </div>
            </td>
            <td>
              <select class="form-control"><option>1</option><option>2</option><option>3</option><option>4</option></select>
            </td>
            <td>
              <button class="btn btn-block btn-primary">Set</button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Start Irrigation</a>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" class="btn btn-sm btn-danger btn-flat ">Stop Irrigation</a>
    </div>
    <!-- /.box-footer -->
  </div>

  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Relays</h3>
    </div>
    <div class="box-body">
      <div class="overlay" *ngIf="!Loaded">
        <i class="fa fa-refresh fa-spin"></i>

      </div>
      <div *ngFor="let chart of ChartTab;index as i;" style="width: 50%">
        {{ chart.SensorName }}
        <canvas baseChart style="width: 45%;"
                [datasets]="chart.SensorData"
                [labels]="chart.SensorLabel"
                [options]="BarChartOptions"
                [legend]="BarChartLegend"
                [chartType]="BarChartType"
      ></canvas></div>





    </div>

  </div>
</section>
