.weither {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1px;
}

.classli {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
  flex-basis: auto;
  margin: .25em 0;
  padding: 0 1em;
  width: 300px;
  hight: 280px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: #fff;
}
