<section class="content-header">
  <h1>
    Add Sensor
    <small>Add Sensor here</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/dashboard/Sensor">Add Sensor</a></li>
  </ol>
</section>
<section class="content">
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>{{locations.length}}</h3>

        <p>Locations in total</p>
      </div>
      <div class="icon">
        <i class="fa fa-location-arrow"></i>
      </div>
      <a href="/dashboard/Site/ShowSites" class="small-box-footer">
        Locations <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3>{{Sensors.length}}</h3>

        <p>Sensors in total</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="/dashboard/Sensor" class="small-box-footer">
        More info <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-blue">
      <div class="inner">
        <h3>{{NumbHumidity}}</h3>

        <p>Humidity Sensors</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <a href="#" class="small-box-footer">
        More info <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3>{{NumbTemperature}}</h3>

        <p>Temperature sensors</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a href="#" class="small-box-footer">
        More info <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->
</div>
<div class="col-md-7">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Map</h3>
    </div>

    <div style="height: 500px; width: 682px">
      <div class="map" id="map" class="match-parent"></div>
    </div>
  </div>
</div>
</section>
